.recommendedVid {
  margin-left: 40px;

  padding-top: 20px;
  object-position: center top;
}
.recommendedVid > h2 {
  padding-left: 180px;
  /* margin-left: 180px; */
  /* margin-bottom: 20px; */
}

.recommendedVideos__videos {
  align-items: center;
}
